

body{
    background-color:rgb(233, 227, 235);

    font-family: 'Ewert', cursive;
    text-align: center;
}
h1{
    font-family: 'Ewert', cursive;

}

.imgShoyo{
    width: 100px;

    display: block;
    margin: auto;
}

li{
    list-style: none;
}

